body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    margin-bottom: 20px;
    margin-top: 50px; /* Menambahkan margin atas untuk memberi jarak dari atas */
}

#candidates {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 40px auto; /* Menambahkan margin bawah */
    padding: 20px;
}

.card {
    background: #fff;
    border-radius: 10px; /* Mengubah radius border untuk tampilan lebih halus */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    padding: 20px; /* Menambahkan padding untuk card */
    width: 250px; /* Mengubah lebar card */
    transition: transform 0.2s; /* Animasi saat hover */
}

.card:hover {
    transform: scale(1.05); /* Efek zoom saat hover */
}

.candidate-image {
    width: 100%;
    height: auto;
    border-radius: 10px; /* Mengubah radius border untuk gambar */
}

button {
    padding: 10px 15px;
    margin-top: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}